<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" class="form_simple" style="width: 600px">
    <input type="text" name="name" class="md3_mail" placeholder="Наименование">
    <textarea type="text" name="description" class="md3_mail" placeholder="Описание"></textarea>
    <input type="text" name="photo" class="md3_mail" placeholder="Фото">
    <select name="id" class="select-one" id="" style="padding: 15px "><script>getCategory();</script></select>
    <input class="btn_logIn" type="button" name="confirm" onclick="addRequest(this.form)" value="Добавить">
</form>
</body>
</html>