<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" class="form_simple" style="width: 600px">
    <input type="text" name="category" class="md3_mail" placeholder="Категория">
    <input class="btn_logIn" type="button" name="confirm" onclick="addCategory(this.form)" value="Добавить">
</form>
<div class="delete_admin" style="margin-top: 25px"><script>getCategory_admin()</script></div>
<div class="out-request" style="margin-top: 25px ">
    <script>getRequest_admin()</script></div>


</body>
</html>