<div class="logIn_container">
    <div class="user_account_form">
        <div class="input_form_container">
            <div class="input_form">
                <p class="logIn_title">Вход</p>
                <div class="md3">
                    <form action="" method="post" class="form_simple">
                        <input type="email" name="mail_confirm" class="md3_mail" placeholder="Email">
                        <input type="password" name="password_confirm" class="md3_mail" placeholder="Password">
                        <input class="btn_logIn" type="button" name="confirm" onclick="LogIn(this.form)" value="Войти">
                    </form>
                </div>
                <div class="redirect_signUp">
                    <span class="text-redirect">Нет аккаунта?</span>
                    <a href="signUp" class="redirect_btn">Создать новый аккаунт</a>
                </div>
            </div>
        </div>
    </div>
</div>