<div class="logIn_container">
    <div class="user_account_form">
        <div class="input_form_container">
            <div class="input_form">
                <p class="logIn_title">Регистрация</p>
                <div class="md3">
                    <form action="" method="post" class="form_simple">
                        <input type="text" name="name" class="md3_mail" placeholder="Имя">
                        <input type="text" name="surname" class="md3_mail" placeholder="Фамилия">
                        <input type="text" name="patronymic" class="md3_mail" placeholder="Отчество">
                        <input type="text" name="login" class="md3_mail" placeholder="Логин">
                        <input type="email" name="mail" class="md3_mail" placeholder="Email">
                        <input type="password" name="password" class="md3_mail" placeholder="Пароль">
                        <input class="btn_logIn" type="button" name="confirm" onclick="SignUp(this.form)" value="Зарегестрироваться">
                    </form>
                </div>
                <div class="redirect_signUp">
                    <span class="text-redirect">Уже есть аккаунт?</span>
                    <a href="logIn" class="redirect_btn">Войти</a>
                </div>

            </div>
        </div>
    </div>
</div>